%li.photo-card
  .photo-card__title
    = photo.title
  .photo-card__image
    = image_tag photo.image_file, width: 200
  .photo-card__action
    - if session[:access_token]
      = form_with url: root_path do |f|
        = f.submit 'ツイートする'
